PORT=4000

# mysql | postgres
DB_CLIENT=mysql

MYSQL_URL=mysql://reporting_app:password123@localhost:3307/sample_data

POSTGRES_URL=postgres://postgres:postgres@localhost:5432/sample_data

DB_TABLE_NAME=public.olympic_winners
